.git
.gitignore
__pycache__
*.pyc
*.pyo
*.egg-info
.env
.env.local
.DS_Store
.vscode
.idea
*.log
node_modules
.dvc
.dvc/cache
outputs/*
uploads/*
static/litter_events/*
static/faces/*
static/number_plates/*
.pytest_cache
.coverage
dist
build
*.egg
